@charset "utf-8";
.parrafos {
	text-align: justify;
}
.parrafos {
	color: #666;
}
.parrafos {
	color: #333;
	text-align: center;
}
.contenido {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	text-align: left;
}
.parrafos .parrafos .parrafos .contenido {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.parrafos .parrafos .parrafos .contenido {
	font-size: 16px;
}
.parrafos .parrafos .parrafos .contenido {
	font-size: 14px;
}
